/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
}

/* Fondo general */
AnchorPane {
    -fx-background-color:  #1C1C1C;
}


/* Scrollbar vertical */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 12px; /* ancho scrollbar */
}

.scroll-bar:vertical .track {
    -fx-background-color: #222; /* fondo track */
    -fx-background-radius: 6px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #00B4D8;
    -fx-background-radius: 6px;
}

/* Efecto hover para la thumb */
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #008bbd;
}

/* Scrollbar horizontal */
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: 12px; /* alto scrollbar */
}

.scroll-bar:horizontal .track {
    -fx-background-color: #222;
    -fx-background-radius: 6px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #00B4D8;
    -fx-background-radius: 6px;
}

.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #008bbd;
}


/* Título */
.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-alignment: center;
}

/* Botones */
.blue-button {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 0, 2);
    -fx-font-weight: bold;
}

.blue-button:hover {
    -fx-background-color: #3a3a3a;
}

/* Campos de texto */
.text-field {
    -fx-padding: 10;
    -fx-background-color: #1f1f1f;
    -fx-text-fill: white;
    -fx-border-color: #333333;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #888888;
}

/* ComboBox */
ComboBox {
    -fx-pref-width: 200px;
    -fx-background-color: #1f1f1f;
    -fx-border-color: #333333;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

/* ListView */
ListView {
    -fx-background-color: #121212;
    -fx-control-inner-background: #1f1f1f;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-border-color: #333333;
    -fx-padding: 5;
    -fx-font-size: 13px;
}

/* Label de canciones */
.songs-label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-padding: 10px;
}

/* Alineación de los VBox y HBox */
VBox {
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

HBox {
    -fx-spacing: 15px;
}

/* Imagen de playlist con borde negro (modificado a estilo más suave) */
.playlist-image {
    -fx-alignment: center;
    -fx-border-radius: 8px;
    -fx-border-color: #333;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-padding: 10px;
}

.playlist-image:hover {
    -fx-border-color: #4285f4;
}
